h1 {
    text-align: center;
    color:#4a6886;
}

body {
    margin: 20px 10%;
}
body {
    background-color: rgb(123, 253, 199);
}

p.yes {
    border: 2px solid rgb(251, 255, 33);
    border-radius: 12px;
    padding: 5px;
  }
pre {
    background-color: #eeeeee;
    border:1px dotted #ff3838;
    padding: 20px;
    border-radius: 20px;
}
